.lzr {
  
  .lzr-button, .lzr-button::file-selector-button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    padding: 8px 12px;
    margin: 0;
    border-radius: var(--border-radius--button);
    -webkit-tap-highlight-color: transparent;
    
    font-family: var(--font-family--default);
    font-size: var(--font-size--default);
    font-weight: 600;
    text-decoration: none;
    text-align: center;
  
    border: 1px solid var(--color--bg-default);
    background-color: var(--color--bg-default);
    color: var(--color--fg-default);
    transition: background-color .15s linear, border-color .15s linear, color .15s linear;
  
    @media (pointer: fine) {
      &:hover, &:hover::file-selector-button {
        border: 1px solid var(--color--bg-default--hover);
        background-color: var(--color--bg-default--hover);
        cursor: pointer;
      }
    }
    &:active, &:active::file-selector-button {
      border: 1px solid var(--color--bg-default--active);
      background-color: var(--color--bg-default--active);
      cursor: pointer;
      outline: 4px solid var(--color--outline--default);
    }
  
    .lzr-icon {
      path { 
        transition: fill .2s linear;
        fill: var(--color--fg-default); 
      }
    }
  
    &.lzr-pill, &.lzr-pill::file-selector-button {
      padding: 8px 18px;
      border-radius: 500px;
    }
  
    &.lzr-round, &.lzr-round::file-selector-button {
      /* display: block; */
      height: max-content;
      /* inline-size: max-content; */
      aspect-ratio: 1;
      padding: 8px;
      border-radius: 500px;
      text-wrap: wrap;
    }
  
    &.lzr-square, &.lzr-square::file-selector-button {
      /* display: block; */
      height: max-content;
      /* inline-size: max-content; */
      aspect-ratio: 1;
      padding: 8px;
      text-wrap: wrap;
    }
  
    &.lzr-solid, &.lzr-solid::file-selector-button {
      border: 1px solid var(--color--fg-default);
      background-color: var(--color--fg-default);
      color: var(--color--bg-default);
  
      .lzr-icon {
        path { fill: var(--color--bg-default); }
      }
  
      @media (pointer: fine) {
        &:hover, &:hover::file-selector-button {
          border: 1px solid var(--color--fg-default--hover);
          background-color: var(--color--fg-default--hover);
          color: var(--color--bg-default);
        }
      }
      &:active, &:active::file-selector-button {
        border: 1px solid var(--color--fg-default--active);
        background-color: var(--color--fg-default--active);
        color: var(--color--bg-default);
        outline: 4px solid var(--color--outline--fg-default);
      }
  
      &.lzr-primary, &.lzr-primary::file-selector-button {
        border: 1px solid var(--color--primary);
        background-color: var(--color--primary);
        color: var(--color--on-primary);
        .lzr-icon {
          path { fill: var(--color--on-primary); }
        }
    
        @media (pointer: fine) {
          &:hover, &:hover::file-selector-button {
            border: 1px solid var(--color--primary--hover);
            background-color: var(--color--primary--hover);
            color: var(--color--on-primary);
          }
        }
        &:active, &:active::file-selector-button {
          border: 1px solid var(--color--primary--active);
          background-color: var(--color--primary--active);
          color: var(--color--on-primary);
          outline: 4px solid var(--color--outline--primary);
        }
      }
      &.lzr-success, &.lzr-success::file-selector-button {
        border: 1px solid var(--color--success);
        background-color: var(--color--success);
        color: var(--color--on-success);
        .lzr-icon {
          path { fill: var(--color--on-success); }
        }
    
        @media (pointer: fine) {
          &:hover, &:hover::file-selector-button {
            border: 1px solid var(--color--success--hover);
            background-color: var(--color--success--hover);
            color: var(--color--on-success);
          }
        }
        &:active, &:active::file-selector-button {
          border: 1px solid var(--color--success--active);
          background-color: var(--color--success--active);
          color: var(--color--on-success);
          outline: 4px solid var(--color--outline--success);
        }
      }
      &.lzr-info, &.lzr-info::file-selector-button {
        border: 1px solid var(--color--info);
        background-color: var(--color--info);
        color: var(--color--on-info);
        .lzr-icon {
          path { fill: var(--color--on-info); }
        }
    
        @media (pointer: fine) {
          &:hover, &:hover::file-selector-button {
            border: 1px solid var(--color--info--hover);
            background-color: var(--color--info--hover);
            color: var(--color--on-info);
          }
        }
        &:active, &:active::file-selector-button {
          border: 1px solid var(--color--info--active);
          background-color: var(--color--info--active);
          color: var(--color--on-info);
          outline: 4px solid var(--color--outline--info);
        }
      }
      &.lzr-error, &.lzr-error::file-selector-button {
        border: 1px solid var(--color--error);
        background-color: var(--color--error);
        color: var(--color--on-error);
        .lzr-icon {
          path { fill: var(--color--on-error); }
        }
    
        @media (pointer: fine) {
          &:hover, &:hover::file-selector-button {
            border: 1px solid var(--color--error--hover);
            background-color: var(--color--error--hover);
            color: var(--color--on-error);
          }
        }
        &:active, &:active::file-selector-button {
          border: 1px solid var(--color--error--active);
          background-color: var(--color--error--active);
          color: var(--color--on-error);
          outline: 4px solid var(--color--outline--error);
        }
      }
    }
    
    &.lzr-outlined, &.lzr-outlined::file-selector-button {
      border: 1px solid var(--color--fg-default);
      background-color: transparent;
      color: var(--color--fg-default);
      .lzr-icon {
        path { fill: var(--color--fg-default); }
      }
      @media (pointer: fine) {
        &:hover, &:hover::file-selector-button {
          border: 1px solid var(--color--fg-default--hover);
          background-color: var(--color--fg-default--hover);
          color: var(--color--bg-default);
          .lzr-icon {
            path { fill: var(--color--bg-default); }
          }
        }
      }
      &:active, &:active::file-selector-button {
        border: 1px solid var(--color--fg-default--active);
        background-color: var(--color--fg-default--active);
        color: var(--color--bg-default);
        outline: 4px solid var(--color--outline--fg-default);
        .lzr-icon {
          path { fill: var(--color--bg-default); }
        }
      }
  
      &.lzr-primary, &.lzr-primary::file-selector-button {
        border: 1px solid var(--color--primary);
        background-color: transparent;
        color: var(--color--primary);
        .lzr-icon {
          path { fill: var(--color--primary); }
        }
        @media (pointer: fine) {
          &:hover, &:hover::file-selector-button {
            border: 1px solid var(--color--primary--hover);
            background-color: var(--color--primary--hover);
            color: var(--color--on-primary);
            .lzr-icon {
              path { fill: var(--color--on-primary); }
            }
          }
        }
        &:active, &:active::file-selector-button {
          border: 1px solid var(--color--primary--active);
          background-color: var(--color--primary--active);
          color: var(--color--on-primary);
          outline: 4px solid var(--color--outline--primary);
          .lzr-icon {
            path { fill: var(--color--on-primary); }
          }
        }
      }
      &.lzr-success, &.lzr-success::file-selector-button {
        border: 1px solid var(--color--success);
        background-color: transparent;
        color: var(--color--success);
        .lzr-icon {
          path { fill: var(--color--success); }
        }
        @media (pointer: fine) {
          &:hover, &:hover::file-selector-button {
            border: 1px solid var(--color--success--hover);
            background-color: var(--color--success--hover);
            color: var(--color--on-success);
            .lzr-icon {
              path { fill: var(--color--on-success); }
            }
          }
        }
        &:active, &:active::file-selector-button {
          border: 1px solid var(--color--success--active);
          background-color: var(--color--success--active);
          color: var(--color--on-success);
          outline: 4px solid var(--color--outline--success);
          .lzr-icon {
            path { fill: var(--color--on-success); }
          }
        }
      }
      &.lzr-info, &.lzr-info::file-selector-button {
        border: 1px solid var(--color--info);
        background-color: transparent;
        color: var(--color--info);
        .lzr-icon {
          path { fill: var(--color--info); }
        }
        @media (pointer: fine) {
          &:hover, &:hover::file-selector-button {
            border: 1px solid var(--color--info--hover);
            background-color: var(--color--info--hover);
            color: var(--color--on-info);
            .lzr-icon {
              path { fill: var(--color--on-info); }
            }
          }
        }
        &:active, &:active::file-selector-button {
          border: 1px solid var(--color--info--active);
          background-color: var(--color--info--active);
          color: var(--color--on-info);
          outline: 4px solid var(--color--outline--info);
          .lzr-icon {
            path { fill: var(--color--on-info); }
          }
        }
      }
      &.lzr-error, &.lzr-error::file-selector-button {
        border: 1px solid var(--color--error);
        background-color: transparent;
        color: var(--color--error);
        .lzr-icon {
          path { fill: var(--color--error); }
        }
        @media (pointer: fine) {
          &:hover, &:hover::file-selector-button {
            border: 1px solid var(--color--error--hover);
            background-color: var(--color--error--hover);
            color: var(--color--on-error);
            .lzr-icon {
              path { fill: var(--color--on-error); }
            }
          }
        }
        &:active, &:active::file-selector-button {
          border: 1px solid var(--color--error--active);
          background-color: var(--color--error--active);
          color: var(--color--on-error);
          outline: 4px solid var(--color--outline--error);
          .lzr-icon {
            path { fill: var(--color--on-error); }
          }
        }
      }
    }
  
    &.lzr-flat, &.lzr-flat::file-selector-button {
      border: 1px solid transparent;
      background-color: transparent;
      color: var(--color--fg-default);
      .lzr-icon {
        path { fill: var(--color--fg-default); }
      }
  
      @media (pointer: fine) {
        &:hover, &:hover::file-selector-button {
          border: 1px solid transparent;
          background-color: var(--color--bg-default--alpha);
          color: var(--color--fg-default);
          .lzr-icon {
            path { fill: var(--color--fg-default); }
          }
        }
      }
      &:active, &:active::file-selector-button {
        border: 1px solid transparent;
        background-color: var(--color--bg-default--alpha);
        color: var(--color--fg-default);
        outline: 4px solid var(--color--outline--fg-default);
        .lzr-icon {
          path { fill: var(--color--fg-default); }
        }
      }
  
      &.lzr-primary, &.lzr-primary::file-selector-button {
        border: 1px solid transparent;
        background-color: transparent;
        color: var(--color--primary);
        .lzr-icon {
          path { fill: var(--color--primary); }
        }
  
        @media (pointer: fine) {
          &:hover, &:hover::file-selector-button {
            border: 1px solid transparent;
            background-color: var(--color--primary--alpha);
            color: var(--color--primary);
            .lzr-icon {
              path { fill: var(--color--primary); }
            }
          }
        }
        &:active, &:active::file-selector-button {
          border: 1px solid transparent;
          background-color: var(--color--primary--alpha);
          color: var(--color--primary);
          outline: 4px solid var(--color--outline--primary);
          .lzr-icon {
            path { fill: var(--color--primary); }
          }
        }
      }
      &.lzr-success, &.lzr-success::file-selector-button {
        border: 1px solid transparent;
        background-color: transparent;
        color: var(--color--success);
        .lzr-icon {
          path { fill: var(--color--success); }
        }
  
        @media (pointer: fine) {
          &:hover, &:hover::file-selector-button {
            border: 1px solid transparent;
            background-color: var(--color--success--alpha);
            color: var(--color--success);
            .lzr-icon {
              path { fill: var(--color--success); }
            }
          }
        }
        &:active, &:active::file-selector-button {
          border: 1px solid transparent;
          background-color: var(--color--success--alpha);
          color: var(--color--success);
          outline: 4px solid var(--color--outline--success);
          .lzr-icon {
            path { fill: var(--color--success); }
          }
        }
      }
      &.lzr-info, &.lzr-info::file-selector-button {
        border: 1px solid transparent;
        background-color: transparent;
        color: var(--color--info);
        .lzr-icon {
          path { fill: var(--color--info); }
        }
  
        @media (pointer: fine) {
          &:hover, &:hover::file-selector-button {
            border: 1px solid transparent;
            background-color: var(--color--info--alpha);
            color: var(--color--info);
            .lzr-icon {
              path { fill: var(--color--info); }
            }
          }
        }
        &:active, &:active::file-selector-button {
          border: 1px solid transparent;
          background-color: var(--color--info--alpha);
          color: var(--color--info);
          outline: 4px solid var(--color--outline--info);
          .lzr-icon {
            path { fill: var(--color--info); }
          }
        }
      }
      &.lzr-error, &.lzr-error::file-selector-button {
        border: 1px solid transparent;
        background-color: transparent;
        color: var(--color--error);
        .lzr-icon {
          path { fill: var(--color--error); }
        }
  
        @media (pointer: fine) {
          &:hover, &:hover::file-selector-button {
            border: 1px solid transparent;
            background-color: var(--color--error--alpha);
            color: var(--color--error);
            .lzr-icon {
              path { fill: var(--color--error); }
            }
          }
        }
        &:active, &:active::file-selector-button {
          border: 1px solid transparent;
          background-color: var(--color--error--alpha);
          color: var(--color--error);
          outline: 4px solid var(--color--outline--error);
          .lzr-icon {
            path { fill: var(--color--error); }
          }
        }
      }
    }
  }
} 
