.lzr {

  .lzr-input {
    box-sizing: border-box;
    padding: 8px;
    border-radius: var(--border-radius--default);
    background-color: var(--color--bg-default);
    color: var(--color--fg-default);
    font-size: 16px;
    border: none;

    &:focus {
      outline: 4px solid var(--color--outline--fg-default);
    }
  }
}