.lzr {

  .lzr-row-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    row-gap: 16px;
    column-gap: 16px;
  }
  
  .lzr-margin-bottom {
    margin-bottom: 16px;
  }
  
  .lzr-box-shadow {
    box-shadow: var(--box-shadow--soft);
  }
  
  .lzr-width-100 {
    width: 100%;
  }
  
  .lzr-special-tag {
    background-color: var(--color--default-dark--alpha);
    color: var(--color--default-dark);
    padding: 3px 6px;
    border-radius: var(--border-radius--default);
    font-size: var(--font-size--default);
    font-weight: 600;
  
    &.light {
      background-color: hsla(0, 0%, 100%, .2);
      color: white;
    }
  
    /* &.html {
      color: #ce4100;
    }
    &.css {
      color: #3e6bd4;
    }
    &.javascript {
      color: #fadd00;
    } */
  }

  .pwa-install-container {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: hsla(0, 0%, 0%, 0.66);
    transition: opacity .2s linear;
    opacity: 0;

    &.exist {
      display: flex;
    }

    &.visible {
      opacity: 1;
    }
  }

  .pwa-install-box {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 16px;
    padding: 16px;
    background-color: var(--color--bg-default);
    border-radius: var(--border-radius--default);
    max-width: calc(100svw - (2*var(--horizontal-padding)));

    .title {
      font-size: 18px;
      font-weight: 600;
    }

    > div {
      display: flex;
      margin-left: auto;
      justify-content: space-between;
      gap: 16px;
    }
  }
}