.lzr {

  .lzr-input {
    box-sizing: border-box;
    padding: 8px;
    border-radius: var(--border-radius--default);
    background-color: var(--color--bg-default);
    color: var(--color--fg-default);
    font-size: 16px;
    border: none;

    &:focus {
      outline: 4px solid var(--color--outline--fg-default);
    }
  }

  input[type=file] {
    position: relative;
    border-radius: var(--border-radius--button);
    width: 160px;
    max-width: 100%;

    &::file-selector-button {
      position: absolute;
      top: 0px;
      left: 0px;
      width: 100%;
      height: 100%;
    }

    &.lzr-pill {
      width: 172px;
    }
  }
}