.lzr {

  .lzr-switch { /* The switch - the box around the slider */
    -webkit-tap-highlight-color: transparent;
    position: relative;
    display: inline-block;
    width: 64px;
    height: 32px;
  
    /* Hide default HTML checkbox */
    input {
      opacity: 0;
      width: 0;
      height: 0;
  
      /* Checked */
      &:checked + .slider {
        background-color: var(--color--primary);
  
        &:before {
          background-color: var(--color--on-primary);
          -webkit-transition: .3s;
          transition: .3s ease-out;
          -webkit-transform: translateX(32px);
          -ms-transform: translateX(32px);
          transform: translateX(32px);
        }
      }
    }
  
    /* The slider */
    .slider {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: var(--color--bg-default);
      -webkit-transition: .3s;
      transition: .3s ease-out;
      border-radius: var(--border-radius--default);
    
      &:before {
        position: absolute;
        content: "";
        height: 16px;
        width: 16px;
        left: 8px;
        bottom: 8px;
        background-color:  var(--color--fg-default);
        -webkit-transition: .3s;
        transition: .3s ease-out;
      border-radius: var(--border-radius--default);
      }
    
      /* Rounded sliders */
      &.round {
        border-radius: 500px;
    
        &:before {
          border-radius: 500px;
        }
      }
    }
  }
}
