.lzr {

  .lzr-footer {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-width: 100%; width: 100%; max-width: 100%;
    min-height: var(--height--header); height: var(--height--header); max-height: var(--height--header);
    background-color: var(--color--bg-default);
    color: var(--color--fg-0);

    .top-row {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      min-width: 100%; width: 100%; max-width: 100%;
      height: 100%;
      background-color: var(--color--bg-default);
      color: var(--color--fg-0);
      padding: 8px var(--horizontal-padding);
      gap: 8px;
    }

    .bottom-row {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      min-width: 100%; width: 100%; max-width: 100%;
      min-height: 72px; height: 72px; max-height: 72px;
      background-color: var(--color--bg-default);
      color: var(--color--fg-0);
      padding: 0 var(--horizontal-padding);
      gap: 8px;
    }
  }
}
