.lzr {
  
  .lzr-main {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    min-width: 100%; width: 100%; max-width: 100%;
    min-height: var(--height--main); height: var(--height--main); max-height: var(--height--main);
    background-color: var(--color--bg-html);
    overflow-x: hidden;
    overflow-y: scroll;
    margin: 0;
    /* padding: 8px var(--horizontal-padding); */
    scroll-behavior: smooth;

    &::-webkit-scrollbar {
      display: none;
    }

    &:focus-visible {
      outline: none;
    }
  }
}